version: "3.8"

services:
  db:
    image: mysql:8
    container_name: auth_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build: .
    container_name: auth_app
    restart: always
    ports:
      - "5100:5100"
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "npx prisma migrate deploy --config=./prisma.config.ts && node src/server.js"
    networks:
      - backend

volumes:
  mysql_data:

networks:
  backend:
